* {
	margin: 0px;
	padding: 0px;
	border: none;
	outline: none;
}
html, body {
	box-sizing: border-box;
	user-select: none;
}
body {
	display: flex;
	justify-content: center;
	align-items: center;
}
.container {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	grid-gap: 8px;
	background-color: #ff9999;
	padding: 9px;
	border-radius: 5px;
	max-width: 400px;
	font-family: "Tahoma";
}
.item {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 15px 25px;
	font-size: 24px;
	cursor: pointer;
	text-align: center;
	text-decoration: none;
	border-radius: 15px;
	color: black;
	box-shadow: 0 5px #999;
	background-color: #66ccff;
}
.item:hover {
	background-color: #3399ff;
}
.item:active {
	background-color: #3399ff;
	box-shadow: 0 5px #666;
	transform: translateY(2px);
}
input {
	width: 100%;
	height: 60px;
	font-size:30px;
	text-align: right;
	text-decoration: none;
	border-radius: 15px;
	color: black;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #fff;
}
.input {
	grid-column: 1 / -1;
	padding: 0px;
}
.clean {
	grid-column: 1 / 3;
	background-color: #9999ff;
}
.clean:hover {
	background-color:  #cc99ff;
}
.back {
	grid-column: 3 / -1;
}
.equal {
	grid-column: 4;
	grid-row: 6 / 8;
	background-color: #9999ff;
}
.equal:hover {
	background-color: #cc99ff;
}
.zero {
	grid-column: 1 / 3;
}